* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

img {
  max-width: 100%;
  height: auto;
}

body p {
  font-size: 1.5vw;
}

body h3 {
  font-size: 2.5vw;
}

.make-responsive {
  float: left;
  width: 33%;
}

.text-icon-container > p {
  position: relative;
  padding-left: 25%;
  margin-bottom: 30px;
}

.icon {
  position: absolute;
  left: 0;
}

.slide-title {
  text-align: center;
  margin-bottom: 50px;
}

.picture-height-1,
.picture-height-2 {
  height: 500px;
}

hr {
  width: 70%;
}

ul > li {
  margin-left: 20px;
  width: 70%;
}
.pict-in-midd-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.text-in-midd-container {
  display: grid;
  grid-template-columns: 30%;
}
.middle-position {
  grid-column: 2/3;
}

.order-class-1 {
  order: 1;
}

.order-class-2 {
  order: 2;
}

.order-class-3 {
  order: 3;
}

.order-class-4 {
  order: 4;
}

.move-down {
  margin-top: 50px;
}

.title-class {
  margin-top: 50px;
  text-align: center;
}
.two-pictures {
  margin-left: 10%;
}

.logo-container {
  margin: 0 auto;
  width: 50%;
}

.name-container {
  width: 60%;
  padding: 10px;
  color: #ffffff;
  background-color: #990000;
}

.puzzle-slide-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.space-between {
  margin-bottom: 300px;
}

.aleksandar-contact {
  width: 18%;
  margin: auto;
  text-align: center;
}

.mail-container {
  width: 100%;
}
.email-link {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.phone-number {
  margin: auto;
  text-align: center;
}

.logo-container,
.aleksandar,
.phone-number {
  margin-bottom: 30px;
}

.language-icon {
  margin-right: 20px;
  width: 3vw;
  height: 3vw;
}

.language-icon-container {
  float: right;
}

.button-icon-lang {
  background: "white";
  border: "none";
}

@media screen and (max-width: 800px) {
  .make-responsive {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  body p {
    font-size: 3vw;
  }

  body h3 {
    font-size: 4.5vw;
  }

  .text-icon-container > p {
    position: relative;
    padding-left: 15%;
    margin-bottom: 100px;
  }
  .pict-in-midd-container,
  .text-in-midd-container {
    grid-template-columns: 100%;
  }

  .middle-position {
    grid-column: 1/2;
  }
  .order-class-1 {
    order: 2;
  }

  .order-class-2 {
    order: 1;
  }

  .order-class-3 {
    order: 3;
  }

  .order-class-4 {
    order: 4;
  }

  .two-pictures {
    margin-left: 1%;
    width: 100%;
  }
  .space-between,
  .space-between2 {
    margin-bottom: 30px;
  }
  .remove-image {
    display: none;
  }
  .puzzle-slide-container {
    display: grid;
    grid-template-columns: 80%;
  }
}
